div.listrightbloc .cart_area{background:none !important;border:none;}
list_area{clear:both;border-bottom:1px #ccc dotted;padding-bottom:10px !important;overflow:visible;margin-bottom:10px;}
.listphoto img{width:120px;margin:10px;}
div.listrightbloc{width:530px !important;float:right;}
div.listrightbloc .cartin_btn{width:120px;float:right;margin-top:5px;}